* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8fbf9;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 9%;
  height: 60px;
  background: rgba(0, 0, 0
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
