* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8fbf9;
}

.header {
  position: fixed;
  width: 100%;
  padding: 0 9%;
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
    gap: ;
}
